/* 공통 */
:root {
	--red: #da1a32;
	--black: #111111;
	--gray-666: #666666;
	--gray-999: #999999;
	--gray-ccc: #cccccc;
	--gray-ddd: #dddddd;
	--gray-eee: #eeeeee;
	--light-gray: #f4f4f4;
}

#main-wrap {
	max-width: 768px;
	height: calc(100vh - 60px);
	margin: 0 auto;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	background-color: #fff;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding-top: 60px;
}

#main-wrap::-webkit-scrollbar {
	display: none;
}

.inner {
	padding: 0 20px;
	box-sizing: border-box;
}

.page-title {
	font-size: 35px;
	font-weight: 700;
}

.wd-full {
	width: 100%;
}

.flaticon {
	font-size: 12px;
	color: var(--gray-ddd);
	position: fixed;
	bottom: 10px;
}

/* header */
header {
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0;
	max-width: 768px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--red);
	padding: 0 20px;
	box-sizing: border-box;
	z-index: 10;
}

header .logo {
	font-size: 30px;
	font-weight: 700;
	color: #fff;
}

header button {
	width: 40px;
	height: 40px;
	background: url(../public/media/ico_home_t1.svg) no-repeat right center;
	background-size: 100% 100%;
	text-indent: -9999px;
}

/* btn */
.btn-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.btn-wrap.half > * {
	width: 50%;
}

.submit-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60px;
	background: var(--red);
	color: #fff;
	font-weight: 700;
	font-size: 30px;
	padding: 0 20px;
	box-sizing: border-box;
	border-radius: 8px;
}

.submit-btn.gray {
	background: var(--gray-999);
}

.submit-btn.red-bdr {
	background: #fff;
	border: 1px solid var(--red);
	color: var(--red);
}

/* popup */
.popup {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.dim {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #00000050;
}

.popup-content {
	max-width: 728px;
	width: 90%;
	padding: 30px 40px;
	box-sizing: border-box;
	background: #fff;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 20;
	border-radius: 8px;
}

.popup .page-title {
	margin-bottom: 20px;
}

.popup .btn-wrap {
	margin-top: 30px;
}

/* select-list */
.select-list {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	text-align: center;
}

.select-list > li {
	border: 2px solid var(--gray-eee);
	padding: 30px 30px 40px;
	box-sizing: border-box;
	border-radius: 10px;
	transition: 0.5s;
}

.select-list > li:hover {
	box-shadow: 0 3px 24px 0 rgba(0, 0, 0, 0.1);
	transform: scale(1.1);
}

.select-list .ico {
	width: 200px;
}

.select-list .title {
	font-size: 30px;
	font-weight: 700;
	color: #333;
	margin-top: 15px;
}

/* help 도움말 */
.help-wrap {
	margin-top: 30px;
}

.help-wrap .help-title{
    text-align:center;
    width: 130px;
    padding:5px;
    background-color:gray;
    color:white;
	margin: 0 auto;
}

.help-wrap .des-help{
	margin: 10px;
    padding:5px;
    background-color:rgb(201,201,201);
}

/* EDU01_Select */
#select {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: calc(100vh - 60px);
}

#select .title-wrap {
	margin-top: 10vh;
}

#select .title-wrap .logo {
	font-size: 80px;
	font-weight: 700;
	color: var(--red);
}

#select .title-wrap .title {
	background: var(--red);
	width: fit-content;
	margin: 0 auto;
	font-size: 40px;
	font-weight: 700;
	color: #fff;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 10px;
	margin-top: 10px;
}

#select .select-list {
	margin-top: 8vh;
}

/* EDU02_Menu */
#menu {
	padding-top: 20px;
}

#menu:has(+ #cart) {
	padding-bottom: 510px;
}

#menu .product-list {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin-top: 15px;
}

#menu .product-list > li {
	width: calc((100% - 20px) / 3);
	border: 2px solid var(--gray-ddd);
	padding: 12px;
	box-sizing: border-box;
	border-radius: 7px;
	transition: 0.5s;
}

#menu .product-list > li img {
	width: 100%;
	height: 170px;
	object-fit: cover;
	border-radius: 7px;
}

#menu .product-list .product-name {
	font-size: 24px;
	font-weight: 500;
}

#menu .product-list .product-price {
	font-size: 20px;
	font-weight: 700;
	margin-top: 3px;
	letter-spacing: -0.4px;
	color: var(--red);
}

/* cart */
#cart {
	width: 100%;
	height: 420px;
	position: fixed;
	bottom: 0;
	max-width: 768px;
	border-top: 3px solid var(--red);
	overflow-y: auto;
	background: #fff;
	z-index: 10;
	padding-bottom: 80px;
	box-sizing: border-box;
}

#cart::-webkit-scrollbar {
	display: none;
}

#cart .cart-list-head {
	display: flex;
	background: var(--gray-eee);
	font-weight: 600;
	padding: 10px 20px;
	box-sizing: border-box;
	text-align: center;
	position: fixed;
}

#cart .cart-list {
	margin-top: 45px;
}

#cart .cart-list > li {
	display: flex;
	align-items: center;
	font-size: 22px;
	padding: 14px 20px;
	box-sizing: border-box;
	border-bottom: 1px solid var(--gray-ccc);
}

#cart .cart-list-head > li:nth-child(1),
#cart .cart-list .item-menu {
	width: 400px;
}

#cart .cart-list-head > li:nth-child(2),
#cart .cart-list .item-count {
	width: 100px;
	text-align: center;
}

#cart .cart-list-head > li:nth-child(3),
#cart .cart-list .item-price {
	width: 190px;
	text-align: center;
}

#cart .cart-list-head > li:nth-child(4),
#cart .cart-list .item-remove {
	width: 38px;
	text-align: center;
}

#cart .cart-list > li > div {
	width: 100%;
}

#cart .cart-list .item-count input {
	width: 60px;
	border: 1px solid var(--gray-ccc);
	border-radius: 5px;
	padding: 3px 10px;
	box-sizing: border-box;
	text-align: right;
}

#cart .cart-list .item-remove {
	height: 30px;
}

#cart .cart-list .item-remove button {
	width: 30px;
	height: 30px;
	background: var(--red) url(../public/media/ico_close_t2.svg) no-repeat
		center center;
	background-size: 20px 20px;
	text-indent: -9999px;
	border-radius: 5px;
}

#cart .cart-list .menu-option {
	margin-top: 10px;
	font-size: 20px;
	color: var(--gray-666);
	padding-left: 10px;
}

#cart .cart-list .menu-option > li + li {
	margin-top: 5px;
}

#cart .total-wrap {
	max-width: 768px;
	width: 100%;
	height: 80px;
	position: fixed;
	bottom: 0;
	background: var(--gray-eee);
	padding: 0 20px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
}

#cart .total-wrap .total-price {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 22px;
}

#cart .total-wrap .total-price span {
	font-size: 28px;
	font-weight: 700;
	color: var(--red);
}

/* EDU02_Option */
#option.popup .popup-content {
	width: 600px;
}

#option .option-list {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

#option .option-list > li {
	width: calc((100% - 20px) / 3);
}

#option .option-list label {
	position: relative;
	cursor: pointer;
}

#option .option-list label input {
	display: none;
}

#option .option-list label .option-label {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 5px;
	border: 1px solid var(--gray-ccc);
	border-radius: 8px;
	padding: 20px 10px;
	box-sizing: border-box;
	text-align: center;
	font-size: 18px;
}

#option .option-list label input:checked + .option-label {
	border-color: var(--red);
}

#option .option-list .option-price {
	font-weight: 600;
	color: var(--red);
	font-size: 20px;
}

/* EDU02_Way */
#way {
	text-align: center;
	height: calc(100vh - 60px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 10vh;
}

#way .page-title {
	margin-bottom: 40px;
}

/* EDU02_Check_out */
#checkout {
	min-height: calc(100vh - 60px);
	padding-top: 20px;
	padding-bottom: 120px;
	background: var(--light-gray);
}

#checkout .list {
	margin-top: 20px;
}

#checkout .list > li {
	display: flex;
	gap: 20px;
	border-radius: 10px;
	padding: 25px;
	background: #fff;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
}

#checkout .list > li + li {
	margin-top: 15px;
}

#checkout .list .product-img {
	width: 100px;
	height: 70px;
	object-fit: cover;
	border-radius: 5px;
}

#checkout .list .info-box {
	width: 100%;
}

#checkout .list .order-menu {
	display: flex;
	justify-content: space-between;
	font-size: 22px;
	font-weight: 600;
	letter-spacing: -0.7px;
}

#checkout .list .order-menu .item-name {
	width: 280px;
}

#checkout .list .item-total {
	text-align: right;
	font-size: 18px;
	margin-top: 10px;
	color: var(--gray-666);
	font-weight: 500;
}

#checkout .list .item-total span {
	color: var(--red);
	font-weight: 700;
	font-size: 22px;
	margin-left: 5px;
}

#checkout .list .option-list {
	background: var(--light-gray);
	padding: 15px 24px;
	box-sizing: border-box;
	border-radius: 8px;
	margin-top: 15px;
}

#checkout .list .item-remove {
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
}

#checkout .list .item-remove button {
	height: 30px;
	font-size: 20px;
	padding: 0 10px;
	font-weight: 600;
	border-radius: 5px;
}

#checkout .list .option-list > li {
	display: flex;
	justify-content: space-between;
	font-size: 17px;
}

#checkout .list .option-list > li + li {
	margin-top: 5px;
}

#checkout .total-wrap {
	max-width: 768px;
	width: 100%;
	height: 80px;
	position: fixed;
	bottom: 0;
	background: var(--gray-eee);
	padding: 0 20px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	margin-left: -20px;
}

#checkout .total-wrap .total-price {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 22px;
}

#checkout .total-wrap .total-price span {
	font-size: 28px;
	font-weight: 700;
	color: var(--red);
}

#checkout .checkhelp-wrap {
	margin-bottom: 100px;
}

#checkout .cp-message-wrap {
	max-width: 768px;
	width: 100%;
	position: fixed;
	bottom: 80px;
	margin-left: -20px;
}

#checkout .cp-message-wrap p {
	background: #fff;
	border-top: 1px solid var(--gray-ddd);
	padding: 10px 20px;
	box-sizing: border-box;
}

#popup-coupon-input .popup-content {
	width: 500px;
	text-align: center;
	padding-top: 50px;
}

#popup-coupon-input .title {
	font-size: 28px;
	font-weight: 700;
	margin-bottom: 20px;
}

#popup-coupon-input .sub-title {
	font-size: 16px;
	margin-bottom: 25px;
}

#popup-coupon-input .coupon-input {
	width: 100%;
	border-bottom: 1px solid var(--gray-ccc);
	padding: 5px 0;
}

#popup-coupon-input .btn-wrap > * {
	font-size: 20px;
	height: 50px;
}

#popup-coupon-input .barcode-img {
	width: 280px;
	margin-top: 25px;
	margin-bottom: 40px;
}

/* EDU02_Pay */
#pizza-pay {
	text-align: center;
	height: calc(100vh - 60px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 10vh;
}

#pizza-pay .page-title {
	margin-bottom: 30px;
}

#pizza-pay .pay-img {
	width: 400px;
	margin: 0 auto;
}

#pizza-pay .noti-title {
	font-weight: 700;
	font-size: 28px;
	margin-top: 20px;
}

#pizza-pay .noti-txt {
	margin-top: 15px;
}

/* EDU03_BusSelect */
#bus-select {
	text-align: center;
	height: calc(100vh - 60px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 8vh;
}

#bus-select .page-title {
	margin-bottom: 30px;
}

#bus-select .noti-box {
	width: fit-content;
	background: var(--light-gray);
	margin: 0 auto;
	padding: 12px 24px;
	box-sizing: border-box;
	border-radius: 10px;
	line-height: 28px;
	margin-bottom: 40px;
}

/* EDU03_Des_Form */
#bus-des {
	min-height: calc(100vh - 80px);
	padding-top: 20px;
	background: var(--light-gray);
}

#bus-des .busform {
	margin-top: 20px;
}

#bus-des .busform > .box {
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
	margin-bottom: 10px;
}

#bus-des .bussquare {
	display: flex;
}

#bus-des .bussquare > li {
	width: 50%;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
}

#bus-des .bussquare > li:first-child {
	border-right: 1px solid var(--gray-eee);
}

#bus-des .bussquare .title {
	color: var(--gray-999);
}

#bus-des .bussquare select {
	width: 100%;
	height: 120px;
	text-align: center;
	font-size: 28px;
	font-weight: 600;
}

#bus-des .bussquare select:invalid {
	color: var(--gray-ccc);
}

#bus-des .bussquare select option {
	color: var(--black);
}

#bus-des .busdate {
	display: flex;
	justify-content: center;
	padding: 20px 20px 20px 100px;
	box-sizing: border-box;
	position: relative;
}

#bus-des .busdate input {
	width: 100%;
	height: 100%;
	position: relative;
	text-align: center;
}

#bus-des .busdate input::before {
	content: '출발일';
	position: absolute;
	top: 50%;
    left: calc(50% - 110px);
	transform: translate(-50%, -50%);
	background: url(../public/media/ico_calendar.svg) no-repeat left top;
	background-size: 24px 24px;
	padding-left: 27px;
	color: var(--gray-666);
}

#bus-des .busdate input::-webkit-calendar-picker-indicator {
    width: 100%;
    height: 100%;
	position: absolute;
	opacity: 0;
} 

#bus-des .bustime {
	display: flex;
	justify-content: center;
	gap: 5px;
	padding: 15px 20px;
	padding-left: 110px;
	box-sizing: border-box;
	position: relative;
}

#bus-des .bustime::before {
	content: '출발시간';
	position: absolute;
	top: 50%;
    left: calc(50% - 180px);
	transform: translate(-50%, -50%);
	background: url(../public/media/ico_clock.svg) no-repeat left top;
	background-size: 24px 24px;
	padding-left: 27px;
	color: var(--gray-666);
}

#bus-des .bustime input {
	width: 150px;
	height: 100%;
	position: relative;
	text-align: center;
	background: var(--light-gray);
	padding: 5px 0;
	box-sizing: border-box;
	border-radius: 8px;
}

#bus-des .bustime input::-webkit-calendar-picker-indicator {
    width: 100%;
    height: 100%;
	position: absolute;
	opacity: 0;
}

/* EDU03_BusCheck */
#bus-check {
	min-height: calc(100vh - 80px);
	padding-top: 20px;
	background: var(--light-gray);
}

#bus-check .ticket-info {
	display: block;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
	margin-bottom: 10px;
	margin-top: 20px;
	cursor: pointer;
	transition: 0.3s;
	border-radius: 10px;
}

#bus-check .ticket-info .bus-inner {
	padding: 25px 30px;
	box-sizing: border-box;
	border: 2px solid #fff;
	border-radius: 10px;
}

#bus-check .ticket-info input[type="radio"]:checked + .bus-inner {
	border: 2px solid var(--red);
	border-radius: 10px;
}

#bus-check .ticket-info dl {
	display: flex;
}

#bus-check .ticket-info dl + dl {
	margin-top: 10px;
}

#bus-check .ticket-info dl dt {
	width: 120px;
	color: var(--gray-666);
}

#bus-check .ticket-info dl dd {
	font-weight: 600;
}

#bus-check .no-date {
	text-align: center;
	margin-top: 30vh;
}

/* EDU03_Seat */
#seat {
	padding-top: 20px;
	padding-bottom: 40px;
}

#seat .page-title {
	text-align: center;
}

#seat .seat-help {
	display: flex;
	gap: 30px;
}

#seat .seat-help .help-wrap .des-help {
	padding: 40px 20px;
	word-break: break-all;
	font-size: 18px;
}

#seat .seat-wrap {
	margin-top: 30px;
	margin-bottom: 20px;
	flex-shrink: 0;
}

#seat .seat-wrap .seatnum {
	display: flex;
	justify-content: center;
	gap: 5px;
	margin-bottom: 5px;
}

#seat .seat-wrap .seatnum span {
	display: block;
	width: 50px;
	border: 1px solid var(--gray-ccc);
	padding: 10px;
	border-radius: 6px;
	text-align: center;
}

#seat .seat-wrap .seatnum span:nth-child(2) {
	margin-right: 50px;
}

#seat .count-seat {
	padding: 10px 20px;
	box-sizing: border-box;
	margin: 0 auto;
	width: fit-content;
	background: var(--gray-eee);
	text-align: center;
	font-weight: 600;
	border-radius: 8px;
	margin-bottom: 20px;
	color: #1b6d8d;
}

#seat .btn-wrap {
	margin-top: 40px;
}

#seat .help-wrap {
	margin-top: 50px;
}

/* EDU03_Pay */
#bus-pay {
	min-height: calc(100vh - 60px);
	padding-top: 20px;
	padding-bottom: 80px;
	background: var(--light-gray);
}

#bus-pay .pay-info {
	border-radius: 10px;
	padding: 25px;
	background: #fff;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
	margin-top: 20px;
}

#bus-pay .payage-title {
	font-weight: 600;
	margin-bottom: 5px;
}

#bus-pay .payage {
	display: flex;
	gap: 5px;
	margin-bottom: 20px;
}

#bus-pay .payage > button {
    background-color:#ffd3d3;
	border:2px solid #ffacac;
	color: #d34c4c;
    border-radius:5px;
    padding:0px 5px;
    margin:5px 5px 15px 0px;
	transition: 0.2s;
	font-weight: 400;
	font-size: 18px;
}

#bus-pay .payage > button:hover {
	background: #fff;
	border-color: #d85b5b;
	font-weight: 500;
}

#bus-pay .info-box {
	display: flex;
	justify-content: space-between;
}

#bus-pay .info-box dl {
	display: flex;
}

#bus-pay .info-box dl + dl {
    margin-top: 10px;
}

#bus-pay .info-box dl dt {
    width: 120px;
    color: var(--gray-666);
}

#bus-pay .info-box dl dd {
	font-weight: 600;
}

#bus-pay .info-box dl dd p + p {
	margin-top: 3px;
}

#bus-pay .info-box .noti {
	height: fit-content;
	background: var(--gray-eee);
	border: 1px solid var(--gray-666);
	padding: 10px;
	box-sizing: border-box;
	border-radius: 5px;
	font-size: 16px;
	line-height: 26px;
}

#bus-pay .total-wrap {
	max-width: 768px;
	width: 100%;
	height: 80px;
	position: fixed;
	bottom: 0;
	background: var(--gray-eee);
	padding: 0 20px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	margin-left: -20px;
}

#bus-pay .total-wrap .total-price {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 22px;
}

#bus-pay .total-wrap .total-price span {
	font-size: 28px;
	font-weight: 700;
	color: var(--red);
}

/* EDU03_Input */
#bus-input {
	min-height: calc(100vh - 60px);
	padding-top: 20px;
	padding-bottom: 80px;
	background: var(--light-gray);
}

#bus-input .page-title {
	text-align: center;
}

#bus-input .white-box {
	border-radius: 10px;
	padding: 40px;
	box-sizing: border-box;
	background: #fff;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);}

#bus-input .input-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	z-index: 10;
	margin-top: 30px;
}

#bus-input .input-box .inputnum {
	width: 100%;
	height: 50px;
    border: 1px solid var(--gray-ccc);
    border-radius: 5px;
    padding: 3px 10px;
    box-sizing: border-box;
}

#bus-input .input-box .submit-btn {
	flex-shrink: 0;
	height: 50px;
	font-size: 26px;
}

/* EDU03_Print */
#print {
	min-height: calc(100vh - 60px);
	padding-top: 20px;
	padding-bottom: 80px;
	background: var(--light-gray);
}