.txt-right {
    display: flex;
    align-items: center;
}

.busseat {
    flex-shrink: 0;

}

.seatnum span {
    margin: 5px;
}
.seatnum span:nth-child(2) {
    margin-right: 50px;
}
.result{
    text-align: center;
}
#seatbut{
    border: 1px solid black;
    padding: 20px;
    border-radius: 50px;
    background-color: var(--red);
    color: white;
}
.txt-explanation {
    padding: 20px;
    border-radius: 0 0 10px 10px;
    font-size: 14px;
    line-height: 1.6;
    margin-top: 10px;
  }
  
  .help-label {
    background-color: #666;
    color: white;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 6px 6px 0 0;
    font-size: 14px;
  }
  