.menuhelpclass{
    text-align:center;
    margin:20px 300px 20px 300px;
    padding:5px;
    background-color:gray;
    color:white;
}

.menuhelp{
    margin-left:10px;
    margin-right:15px;
    padding:5px;
    background-color:rgb(201,201,201);
}

.item-count .decrease{
    border: 1px solid #000;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    margin-right: 1px;
}
.item-count .increase{
    border: 1px solid #000;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    margin-left: 1px;
}