.checkhelpclass{
    text-align:center;
    margin:20px 300px 20px 300px;
    padding:5px;
    background-color:gray;
    color:white;
}

.checkhelp{
    margin-left:10px;
    margin-right:15px;
    padding:5px;
    background-color:rgb(201,201,201);
}