.busselect{
    margin-left:10px;
}

.busselect .bustitle{
    font-weight:bold;
    margin-top:10px;
}

.busselect .busimg{
    width:350px;
    height:350px;
    margin:auto;
    cursor:pointer;
}

.busselect .businfo{
    margin:30px 110px 10px 120px;
}