div{
    text-align:center;
}

#pizzaicon{
    width:300px;
    height:300px;
    margin-right:80px;
    margin-top:50px;
}

#busicon{
    width:300px;
    height:300px;
}

#pizzaorder{
    margin-right:140px;
}

p{
    font-size:25px;
    font-family:"맑은 고딕";
}
